/* banneradd uploade from */

.upload-area--open {
    /* Slid Down Animation */
    animation: slidDown 500ms ease-in-out;
}

@keyframes slidDown {
    from {
        height: 28.125rem;
        /* 450px */
    }
    to {
        height: 35rem;
        /* 560px */
    }
}


/* Header */

.upload-area__header {}

.upload-area__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.3125rem;
}

.upload-area__paragraph {
    font-size: 0.9375rem;
    color: rgb(100, 32, 139);
    margin-top: 0;
}


/* .upload-area__tooltip {
    position: relative;
    color: rgb(14, 178, 219);
    cursor: pointer;
    transition: color 300ms ease-in-out;
  }
  
  .upload-area__tooltip:hover {
    color: rgb(43, 198, 226);
  } */

.upload-area__tooltip-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    min-width: max-content;
    background-color: white;
    color: rgb(32, 3, 3);
    border: 1px solid rgb(24, 1, 1);
    padding: 0.625rem 1.25rem;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: none 300ms ease-in-out;
    transition-property: opacity, visibility;
}

.upload-area__tooltip:hover .upload-area__tooltip-data {
    opacity: 1;
    visibility: visible;
}


/* Drop Zoon */

.upload-area__drop-zoon {
    position: relative;
    height: 11.25rem;
    /* 180px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed black;
    border-radius: 15px;
    margin-top: 2.1875rem;
    cursor: pointer;
    transition: border-color 300ms ease-in-out;
}

.upload-area__drop-zoon:hover {
    border-color: rgb(43, 159, 226);
}

.drop-zoon__icon {
    display: flex;
    font-size: 3.75rem;
    color: rgb(43, 168, 226);
    transition: opacity 300ms ease-in-out;
}

.drop-zoon__paragraph {
    font-size: 0.9375rem;
    color: rgb(51, 51, 192);
    margin: 0;
    margin-top: 0.625rem;
    transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__icon,
.drop-zoon:hover .drop-zoon__paragraph {
    opacity: 0.7;
}

.drop-zoon__loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: var(--clr-light-blue);
    z-index: 10;
}

.drop-zoon__preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.3125rem;
    border-radius: 10px;
    display: none;
    z-index: 1000;
    transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__preview-image {
    opacity: 0.8;
}

.drop-zoon__file-input {
    display: none;
}


/* (drop-zoon--over) Modifier Class */

.drop-zoon--over {
    border-color: rgb(43, 144, 226);
}

.drop-zoon--over .drop-zoon__icon,
.drop-zoon--over .drop-zoon__paragraph {
    opacity: 0.7;
}


/* (drop-zoon--over) Modifier Class */

.drop-zoon--Uploaded {}

.drop-zoon--Uploaded .drop-zoon__icon,
.drop-zoon--Uploaded .drop-zoon__paragraph {
    display: none;
}


/* File Details Area */

.upload-area__file-details {
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    transition: none 500ms ease-in-out;
    transition-property: opacity, visibility;
    transition-delay: 500ms;
}


/* (duploaded-file--open) Modifier Class */

.file-details--open {
    height: auto;
    visibility: visible;
    opacity: 1;
}

.file-details__title {
    font-size: 1.125rem;
    font-weight: 500;
    color: rgb(12, 108, 121);
    margin: 1%;
}


/* Uploaded File */

.uploaded-file {
    display: flex;
    align-items: center;
    padding: 0.625rem 0;
    visibility: hidden;
    opacity: 0;
    transition: none 500ms ease-in-out;
    transition-property: visibility, opacity;
}


/* (duploaded-file--open) Modifier Class */

.uploaded-file--open {
    visibility: visible;
    opacity: 1;
}

.uploaded-file__icon-container {
    position: relative;
    margin-right: 0.3125rem;
}

.uploaded-file__icon {
    font-size: 3.4375rem;
    color: rgb(12, 108, 121);
}

.uploaded-file__icon-text {
    position: absolute;
    top: 1.5625rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9375rem;
    font-weight: 500;
    color: white;
}

.uploaded-file__info {
    position: relative;
    top: -0.3125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.uploaded-file__info::before,
.uploaded-file__info::after {
    content: '';
    position: absolute;
    bottom: -0.9375rem;
    width: 0;
    height: 0.5rem;
    background-color: #ebf2ff;
    border-radius: 0.625rem;
}

.uploaded-file__info::before {
    width: 100%;
}

.uploaded-file__info::after {
    width: 100%;
    background-color: rgb(12, 108, 121);
}


/* Progress Animation */

.uploaded-file__info--active::after {
    animation: progressMove 800ms ease-in-out;
    animation-delay: 300ms;
}

@keyframes progressMove {
    from {
        width: 0%;
        background-color: transparent;
    }
    to {
        width: 100%;
        background-color: rgb(12, 108, 121);
    }
}

.uploaded-file__name {
    width: 100%;
    max-width: 6.25rem;
    /* 100px */
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploaded-file__counter {
    font-size: 1rem;
    color: rgb(12, 108, 121);
}


/* switch start */

input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 30px;
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    transition: .4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background: green;
}

input[type="checkbox"]::before {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    width: 30px;
    height: 30px;
    background: #8E9AA0;
    border-radius: 50%;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .4s;
}

input:checked[type="checkbox"]::before {
    left: 50px;
    background: #FFFFFF;
}

.toggle {
    position: relative;
    display: inline;
}

label {
    color: #007bff;
    font-weight: 600;
    pointer-events: none;
}

.onbtn {
    bottom: 0px;
    left: 11px;
}

.ofbtn {
    bottom: 0px;
    right: 8px;
    color: #8E9AA0;
}


/* switch off */


/* from star */

.contact-form-wrapper {
    padding: 100px 0;
}

.contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 400px;
}

.contact-form textarea {
    resize: none;
}

.contact-form .form-input,
.form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
}

.contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
}

.contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control:focus {
    border-color: #f33fb0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
}

.contact-form .submit-button-wrapper {
    text-align: center;
}

.contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: #f23292;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
    background-color: #d30069;
}

.hrz {
    height: auto;
    width: 20%;
    border: 1px solid red;
    text-align: center;
    justify-content: center;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}